.contenedor {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    padding: 20px;
    color: white;
    counter-reset: section;
}

.peli-detalles {
    display: flex;
    gap: 20px;
    color: white;
    padding: 20px; 
}

.peli-imagen img {
    max-width: 300px;
    border-radius: 10px;
    margin-right: 20px; 
}

.peli-info {
    max-width: 600px;
    color: white;
    padding: 20px; 
}

.peli-info h2 {
    margin-bottom: 10px;
    color: white;
    text-align: center;
    margin-top: 20px; 
}

.peli-info p {
    margin-bottom: 10px;
    color: white;
    margin-top: 10px;
}

.comentarios {
    margin-top: 20px;
    color: white;
    padding: 20px; 
}

.comentarios h3 {
    margin-bottom: 10px;
    color: white;
    text-align: center;
    margin-top: 20px;
}

.comentarios p {
    margin-bottom: 5px;
    color: white;
    margin-top: 10px; 
}

.comentarios textarea {
    width: 100%;
    height: 100px;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    resize: none;
    color: black;
    margin-top: 10px; 
}

.comentarios p::before{
    counter-increment: section;
    content: "Comentario " counter(section) ": ";
}