/* Se aplica a todos los elementos */
* {

    box-sizing: border-box;
}

html {
    /* para ver el diseño de la web, útil para depurar */
    background: linear-gradient(to bottom, black, rgb(94, 4, 64));
}

/* Contenedor principal */
.grid-container {
    display: grid;
    grid-template-areas:
        "barra1 barra2"
        "main-content main-content"
        "footer footer";
    grid-template-rows: 10vh 1fr auto;
    /* Altura: encabezado, contenido flexible, pie */
    grid-template-columns: 5fr 1fr auto;
    /* Ancho: barra lateral fija, contenido flexible */
    min-height: 100vh;

}

/* Estilo para las áreas */
#barra1 {
    grid-area: barra1;
    color: white;
    text-align: left;
    display: flex;
    align-items: center;
}

#barra2 {
    grid-area: barra2;
    color: white;
    text-align: right;

}

.logo {
    max-width: 3em;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#barra1 a {
    margin-top: 0em;
    margin-left: 1em;
    margin-right: 1em;
}

#barra1 img {
    margin-top: 0em;
    align-items: center;
    margin-left: 1em;
    margin-right: 1em;
}

#barra1 .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
    flex-grow: 1;
    text-align: center;
}

#barra1 .nav-link:hover {
    color: #4A5F30;
}

#barra2 {
    display: flex;
    align-items: right;
    gap: 10px;
    /* Espacio entre los elementos */
}

#barra2 ul {
    list-style: none;
    display: flex;
    padding: 0;
    margin: 0;
}

#barra2 ul li {
    margin: 0 10px;
}

#barra2 .nav-link {
    color: white;
    text-decoration: none;
    font-size: 1.2em;
    transition: color 0.3s;
    flex-grow: 1;
    text-align: center;
}

#barra2 .nav-link:hover {
    color: #4A5F30;
}

#barra2 .form-control {
    padding: 5px 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: border-color 0.3s, box-shadow 0.3s;
}

#barra2 .form-control:focus {
    border-color: #6A3B4F;
    box-shadow: 0 0 5px rgba(106, 59, 79, 0.5);
    outline: none;
}

header nav {
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 10px;
}

header nav ul {
    list-style: none;
    display: flex;
    padding: 0;
}

header nav ul li {
    margin: 0 10px;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tarjetas-contenedor {
    display: flex;
    flex-wrap: nowrap;
    gap: 1%;
    justify-content: flex-start;
    overflow-x: auto;
}

.tarjeta {
    flex: 5 5 auto;
    width: calc(25% - 20px);
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    background: rgba(255, 255, 255, 0);
    padding: 5px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    text-align: center;
}

.tarjeta:hover {
    transform: scale(1.05);
    box-shadow: 0px 6px 12px rgba(0, 0, 0, 0.2);
}

.tarjeta img {
    width: 250px;
    max-width: 250px;
    transition: opacity 0.3s ease;
}

.tarjeta:hover img {
    opacity: 0.7;
}

.puntuacion {
    color: gold;
    display: flex;
}

.main-content {
    grid-area: main-content;
    color: white;
    text-align: left;
    padding: 10px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

.main-content div {
    grid-area: main-content;
    text-align: center;
    padding: 10px;
    min-height: 50px;
    justify-content: center;
    align-items: center;
}

footer {
    grid-area: footer;
    background-color: #4A5F30;
    color: white;
    text-align: center;
    padding: 10px;
    min-height: 40px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}

footer .nav-link {
    display:inline-flex;
    padding: 10px;
    color: inherit !important;
    text-decoration: none !important;
}

footer .nav-link:hover {
    color: #6A3B4F; 
}

footer .nav-link:active {
    color: inherit !important; 
    text-decoration: none !important; 
}

/* Media queries */
@media (max-width: 768px) {
    .grid-container {
        margin-left: 0;
        margin-right: 0;
    }

    /* Barra de navegación de opciones en la parte izquierda sin texto */
    #barra1 {
        flex-direction: column;
        align-items: flex-start;
    }

    #barra1 .nav-link {
        display: none;
        /* Oculta el texto de los enlaces */
    }

    #barra1 img {
        margin: 0;
        /* Ajusta el margen de la imagen del logo */
    }

    /* Oculta la barra de navegación de configuración */
    #barra2 {
        display: none;
    }
}

@media (max-width: 480px) {
    .grid-container {
        margin-left: 0;
        margin-right: 0;
        display: grid;
        grid-template-areas:
            "main-content"
            "footer";
        grid-template-rows: 1fr auto;
        grid-template-columns: 1fr;
    }

    /* Oculta la barra de navegación de opciones */
    #barra1 {
        display: none;
    }

    /* Oculta la barra de navegación de configuración */
    #barra2 {
        display: none;
    }

    /* Muestra solo la barra de navegación inferior con las opciones de buscar y cerrar sesión */
    footer {
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        padding: 10px;
        text-decoration: none;
        text-emphasis: none;
    }

    footer .nav-link span {
        display: none;
        text-decoration: none;
        color: inherit;
    }

    footer .nav-link:active {
        color: inherit;
        text-decoration: none;
    }
}